## Day 1

## 013_Adhiraj

1. i) Write a script that reads two integers, and prints the average of the two numbers.
ii) Modify 1.i) to print the larger of the two numbers.

In [ ]:
n1 = 10
n2 = 20
avg=(n1+n2)/2
print("Average of numbers = " , avg )
print("The larger number is ", max(n1,n2))

Average of numbers =  15.0
The larger number is  20

2. Write a script that reads three floating point numbers, and does the following:  
i) It prints the smallest and largest among the three.
ii) It prints the average of the three numbers up to 2 decimal places.

In [ ]:
n1 = 10.23
n2 = 14.43
n3 = 12.56

if(n1<n2) and (n1<n3):
    smallest=n1
elif(n2<n1) and (n2<n3):
    smallest=n2
else:
    smallest=n3
print("The smallest number is ", smallest)
    
if(n1>n2) and (n1>n3):
    largest=n1
elif(n2>n1) and (n2>n3):
    largest=n2
else:
    largest=n3
print("The largest number is ", largest)

avg=(n1+n2+n3)/3
txt = "Average = {:.2f}"
print(txt.format(avg))

The smallest number is  10.23
The largest number is  14.43
Average = 12.41

3. Write a script that prompts the user to input a year and
determine whether that year is a leap year or 
not.

In [ ]:
year = int(input("Enter the year:"))
if(year%400==0) or (year%4==0) and (year%100!=0):
    print(year, " is a leap year")
else:
    print(year, " is not a leap year")

Enter the year:2004
2004  is a leap year

4.Write scripts to print each of the following output pattern. The number of rows to be printed is to be accepted as user input.

In [ ]:
"""
i) 
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
"""

row = int(input("Enter the number of rows: "))
for i in range(row):
    for j in range(row):
        if i>=j:
            print("*", end=" ")
    print()

Enter the number of rows: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
"""
ii)
* * * * * * *
  * * * * * *
    * * * * *
      * * * *
        * * *
          * *
            *
"""

row = int(input("Enter the number of rows: "))
for i in range(row):
    for j in range(row):
        if i<=j:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows: 7
* * * * * * *
  * * * * * *
    * * * * *
      * * * *
        * * *
          * *
            *

In [ ]:
"""
iii)
* * * * * * *
* * * * * *
* * * * *
* * * *
* * * 
* *
*
"""

row = int(input("Enter the number of rows: "))
for i in range(row):
    for j in range(row):
        if i<=j:
            print("*", end=" ")
    print()

Enter the number of rows: 7
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
"""
iv)
            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
* * * * * * *
"""

row = int(input("Enter the number of rows: "))
for i in range(row):
    for j in range(row):
        if i+j>=row-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows: 7
            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
* * * * * * *

In [ ]:
"""
v)
*
* *
* * *
* * * *
* * *
* *
*
"""

row = int(input("Enter the number of rows: "))
for i in range(row):
    for j in range(row):
        if i>=j and i+j<=row-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows: 7
*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
"""
vi)
      *
    * *
  * * *
* * * *
  * * *
    * *
      *
"""

row = int(input("Enter the number of rows: "))
for i in range(row):
    for j in range(row):
        if i<=j and i+j>=row-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows: 7
            *
          * *
        * * *
      * * * *
        * * *
          * *
            *

In [ ]:
"""
vii)
* * * * * * *
  * * * * *
    * * *
      *
"""

row = int(input("Enter the number of rows: "))
for i in range(row):
    for j in range(row):
        if (i<=j and i+j<=row-1):
            print("*", end=' ')
        else:
            print(" ",end=' ')
    print()

Enter the number of rows: 7
* * * * * * *
  * * * * *
    * * *
      *

In [ ]:
'''
viii)
      *
    * * *
  * * * * *
* * * * * * *
'''
row = int(input("Enter the number of rows: "))
for i in range(row):
    for j in range(row):
        if i>=j and (i+j)>=row-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows: 7



      *
    * * *
  * * * * *
* * * * * * *

In [ ]:
'''
ix)
*           *
* *       * *
* * *   * * *
* * * * * * *
* * *   * * *
*  *      * *
*           *
'''
row = int(input("Enter the number of rows: "))

for i in range(row):
    for j in range(row):
        if (i<=j and i+j>=row-1) or (i+j<=row-1 and i>=j):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows: 7
*           *
* *       * *
* * *   * * *
* * * * * * *
* * *   * * *
* *       * *
*           *

In [ ]:
'''
x)
* * * * * * *
  * * * * *
    * * *
      *
    * * *
  * * * * *
* * * * * * *
'''

row = int(input("Enter the number of rows: "))

for i in range(row):
    for j in range(row):
        if (i<=j and i+j<=row-1) or (i>=j and (i+j)>=row-1):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows: 7
* * * * * * *
  * * * * *
    * * *
      *
    * * *
  * * * * *
* * * * * * *

In [ ]:
'''
xi)
      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * * 
      *
'''

row = int(input("Enter the number of rows: "))
n=row//2
for i in range(2*n+1):
    for j in range(2*n+1):
        if (((i+j)>=n) and ((j-i)<=n) and ((i-j)<=n) and ((i+j)<=3*n)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows: 7
      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [ ]:
'''
xii)
* * * * * * *
* * *   * * *
* *       * *
*           *
* *       * *
* * *   * * *
* * * * * * *
'''

row = int(input("Enter the number of rows: "))
n=row//2
for i in range(2*n+1):
    for j in range(2*n+1):
        if (((i+j)<=n) or ((j-i)>=n) or ((i-j)>=n) or ((i+j)>=3*n)):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the number of rows: 7
* * * * * * *
* * *   * * *
* *       * *
*           *
* *       * *
* * *   * * *
* * * * * * *

In [ ]:
'''
xiii)
       *
     * *
   * * *
 * * * * * * *
       * * *
       * *
       *
'''

row = int(input("Enter the number of rows: "))
n=(row-1)//2
for i in range(row):
    for j in range(row):
        if (i+j>=n and i<=n and j<=n) or (i>=n and j>=n and i+j<=3*n) :
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

Enter the number of rows: 7
      *
    * *
  * * *
* * * * * * *
      * * *
      * *
      *

In [ ]:
'''
xiv)
      *
      * *
      * * *
* * * * * * *
  * * *
    * *
      *
'''

row = int(input("Enter the number of rows: "))
n=(row-1)//2
for i in range(row):
    for j in range(row):
        if (i<=n and j>=n and i-j>=-n) or (i>=n and j<=n and i-j<=n): 
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

Enter the number of rows: 7
      *
      * *
      * * *
* * * * * * *
  * * *
    * *
      *

In [ ]:
'''
xv)
* * * * *       *
  * * * *     * *
    * * *   * * *
      * * * * * *
* * * * * * 
* * * * * *
* * *   * * *
* *     * * * *
*       * * * * *
'''

row = int(input("Enter the number of rows: "))
n=(row-1)//2
for i in range(row):
    for j in range(row):
        if (i<=j and i<=n and j<=n) or (i+j>=2*n and i<=n and j>=n) or(i+j<=2*n and i>=n and j<=n) or (i>=j and i>=n and j>=n): #or (i>=n and j<=n and i-j<=n): 
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

Enter the number of rows: 7
* * * *     *
  * * *   * *
    * * * * *
* * * * * * *
* * * * *
* *   * * *
*     * * * *