In [ ]:
#q1
my_list = [('Adnan', 25, "Programmer"), ("Swati", 27, 'DBA'), ('Anand', 26, "Tester")]

for a in my_list:
    name, age, occupation = a
    print(f"{name} is {age} years old and works as {occupation}.")

Adnan is 25 years old and works as Programmer.
Swati is 27 years old and works as DBA.
Anand is 26 years old and works as Tester.

In [ ]:
#q2
inp=int(input("Enter a 3 digit number: "))
result = ""
letters = [(4, "r"), (2, "w"), (1, "x")]

for i in [int(n) for n in str(inp)]:
        
        for x, l in letters:
            if i >= x:
                result += l
                i -= x
            else:
                result += "-"
print(f"The file permission is: {result}")

Enter a 3 digit number: 642
The file permission is: rw-r---w-

In [ ]:
#q3
dict1 = {'a': 1, 'b': 2, 'c': 3}

my_list = [(k,v) for k,v in dict1.items()]
print(my_list)

[('a', 1), ('b', 2), ('c', 3)]

In [ ]:
#q4
my_tuple = (56,5,6,1,2)

x = set(my_tuple)
x = sorted(x)
temp = tuple(x)
k = 2
print(f"The maximum {k} elements: {temp[-k:]}")
print(f"The minimum {k} elements: {temp[:k]}")

The maximum 2 elements: (6, 56)
The minimum 2 elements: (1, 2)

In [ ]:
#q5
my_list = [2, 5, 1, 4]
rs = [(i,i**2) for i in my_list]
print(rs)

[(2, 4), (5, 25), (1, 1), (4, 16)]

In [ ]:
#q6
dict1 = {1:[1,4,3,2],
         2:[5,6,7,8],
         3:[3,6,5,1]}

rs = list(set(sorted(element for value in dict1.values() for element in value)))
print(rs)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#q7
dict1 = {1: "Jan", 2: "Feb", 3: "Mar"}
l=[]
for i in dict1:
    l.append(i)
for i in dict1:
    l.append(dict1[i])
print(l)

[1, 2, 3, 'Jan', 'Feb', 'Mar']

In [ ]:
#q8
dict1 = {2:'Jan', 1:'March', 4:'Oct',5:'July',3:'Dec'}

dict2={}
for i,j in sorted(dict1.items()):
    dict2[i]=j
print(dict2)

dict3={}
for i,j in sorted([(v,k) for k,v in dict1.items()]):
    dict3[j]=i
print(dict3)

{1: 'March', 2: 'Jan', 3: 'Dec', 4: 'Oct', 5: 'July'}
{3: 'Dec', 2: 'Jan', 5: 'July', 1: 'March', 4: 'Oct'}

In [ ]:
#q9
s = "Python is great and java is also great "
print(s)
l = s.split()
k =[]
for i in l:
    if (s.count(i)>=1) and (i not in k):
        k.append(i)
print(" ".join(k))

Python is great and java is also great
Python is great and java also

In [ ]:
#q10
st = ("This is a sentence.").lower()
print(st)
rs = {}

for i in st:
    if i .isalpha() and i not in rs:
        rs[i] = st.lower().count(i)
print(rs)

this is a sentence.
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

In [ ]:
#q11
st = ("""Fear leads to anger; Anger leads to hatred; Hatred leads to conflict;
Conflict leads to suffering.""").lower()

specialChar =  ['~', ':', "'", '+', '[', '@', '^', '{', '%', '(', '-', '"', '*', '|', ',', '&', '<', '`', '}', '.', '_', '=', ']', '!', '>', ';', '?', '#', '$', ')', '/']
for i in specialChar:
    st = st.replace(i,' ')
x = st.split()
rs = {}

for i in x:
    if i in rs:
        rs[i] += 1
    else:
        rs[i] = 1
print(rs)

{'fear': 1, 'leads': 4, 'to': 4, 'anger': 2, 'hatred': 2, 'conflict': 2, 'suffering': 1}

In [ ]:
#q12
list1 = ["program.c", "stdio.cpp", "sample.cpp", "a.out", "math.cpp", "cpp.out"]
print([i.replace('.cpp','.h') for i in list1])

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'cpp.out']

In [ ]:
#q13
dict1 = {"gmail.com": ["paul.buchheit", "sanjeev.singh", "kevin.fox"], "yahoo.com": ["jerry.yang", "david.filo"], "hotmail.com": ["sabeer.bhatia"]}
list1 = []
for k,v in dict1.items():
    for v2 in v:
        st = f"{v2}@{k}"
        list1.append(st)
print(list1)

['paul.buchheit@gmail.com', 'sanjeev.singh@gmail.com', 'kevin.fox@gmail.com', 'jerry.yang@yahoo.com', 'david.filo@yahoo.com', 'sabeer.bhatia@hotmail.com']

In [ ]:
#q14
dict1 = {"local":["admin", "Ananya"],"public":["admin", "Zahir"], "administrator":["admin"] }
dict2={}
for i in dict1:
    for j in dict1[i]:
        if j not in dict2:
            dict2[j]=[i]
        else:
            dict2[j].append(i)
print(dict2)

{'admin': ['local', 'public', 'administrator'], 'Ananya': ['local'], 'Zahir': ['public']}

In [ ]:
#q15
groc = {"apples": 100.50,"bananas": 40, "oranges": 150, "bread": 12.50, "milk": 23.50, "eggs": 39}
sum = 0
for price in groc.values():
    sum = sum + price
groc["total"] = sum
print(groc)

{'apples': 100.5, 'bananas': 40, 'oranges': 150, 'bread': 12.5, 'milk': 23.5, 'eggs': 39, 'total': 365.5}

In [1]:
#q16
dict1 = {"roll": 5, "Name": "Ananya", "marks": [79, 88, 92]}
totalMarks = sum(dict1["marks"])
dict1["total"] = totalMarks
print(dict1)

dict2 = {"roll": 5, "Name": "Ananya", "marks": [79, 88, 92]}
dict2["marks"].append(totalMarks)
print(dict2)

dict3 = {"roll": 5, "Name": "Ananya", "marks": [79, 88, 92]}
dict3["marks"] = totalMarks
print(dict3)

{'roll': 5, 'Name': 'Ananya', 'marks': [79, 88, 92], 'total': 259}
{'roll': 5, 'Name': 'Ananya', 'marks': [79, 88, 92, 259]}
{'roll': 5, 'Name': 'Ananya', 'marks': 259}